@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.linkPanel_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.linkPanel_container {
  font-family: $ricos-font-family;
  color: black;
  position: relative;
  min-width: 360px;
  padding: 12px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  &.basicPanel {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 0;
    width: 420px;
  }
}

.linkPanel_container_isMobile {
  padding: 0;
  min-width: 0;
  flex-direction: column-reverse;
  &.basicPanel {
    width: 100%;
  }
}

.linkPanel_wrapper {
  padding: 0;
  width: 100%;
  &.linkPanel_wrapper_mobile {
    // display: flex;
    // flex-direction: column-reverse;
    margin: 0 auto;
    width: calc(100% - 40px);
  }
}

.linkPanel_Content {
  margin: 0px 1px;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  &.basicPanel {
    margin: 0;
    padding: 0;
  }
}

.linkPanel_Input {
  // margin: 16px 0 14px 0; // this is the right margin - once radio buttons would be added back
  margin: 0px 0 20px;
  position: relative;
  &.basicPanel {
    margin: 0;
  }
}
.checkboxesContainer {
  margin-left: 0;
}

.linkPanel_textInput,
.linkPanel_dropdownList {
  color: $modal-input-color;
  width: 100%;
  font-size: 14px;
  border: 1px solid rgba(51, 51, 51, 0.2);

  &:focus,
  &:focus + .linkPanel_dropdownList {
    border: 1px solid rgba(51, 51, 51, 0.5);
  }
}

.linkPanel_textInput {
  height: 40px;
  padding: 0 18px;
  text-align: left;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.4;
  }
}

.linkPanel_dropdownList {
  position: absolute;
  border-top: none;
}

.linkPanel_textInput_invalid {
  border: 1px solid red !important;
}

.linkPanel_imageSettings {
  width: 100%;
  height: 42px;
  padding: 0 17px;
  color: #333333;
  border: 1px solid #ededed;
}

.linkPanel_errorIcon {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 13px;
}

.linkPanel_actionsDivider {
  position: absolute;
  width: 100%;
  left: 0;
  border: 1px solid rgba(51, 51, 51, 0.1);
  &.linkPanel_actionsDivider_mobile {
    top: 56px;
  }
}

.mobileLinkModal_titleContainer {
  position: fixed;
  top: 20px;
}

.mobileLinkModal_linkIconContainer {
  width: 19px;
  height: 19px;
  margin-right: 11px;
}

.mobileLinkModal_title {
  margin: 0;
  font-size: 16px;
}
